# Configurações de autenticação (JWT)
JWT_SECRET_KEY=sua_chave_secreta_aqui
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# Lista de e-mails de administradores separados por vírgula
ADMIN_EMAILS=admin@exemplo.com,seu@email.com
